body{
	background-image: url("images/MapBackground.png");
	background-size: cover;
	background-repeat: no-repeat;
	
}

img{
	width: 70%;
	height: auto;
}

.anchorLocation{
	position: absolute;
	left: 20%;
	top: 10%;
}

.towerLocation{
	position: absolute;
	left: 57%;
	top: 17%;
}

.towerHouseLocation{
	position: absolute;
	left: 20%;
	top: 80%;
}

#fastTravelBox{
	position: absolute;
	background-color: #8F8F8F;
	width: 120px;
	visibility: hidden;
}

.fastTravelText{
	text-align: center;
	color: white;
}

.fastTravelButton{
	margin-top: 10px;
	margin-right: 20px;
	color: white;
	outline: none;
	background-color: transparent;
	border: none;
}

.fastTravelButton:hover{
	color: #555555;
}